header{
  font-family: "Aharoni";
  font-size: 2em;
  padding: 0.7em 2em;
  color: white;
  background-color: rgb(57, 30, 59);
  margin: 0.5em;
}

main{
  background-color: rgb(233, 233, 115);
  margin: 2em 5em;
  border-radius: 0.5em;
}

h1{
  font-family: "Goudy Stout";
  color: white;
  background-color: rgb(64, 21, 68);
  margin: 1em;
  border-radius: 0.8em;
}

img{
  border-radius: 1em;
  margin: 1em;
  width: 20%;
}

button{
  background-color: rgb(30, 144, 255);
  color: white;
  padding: 1.7em;
}

p.intro{
  background-color: rgb(64, 21, 68, 0.9);
  color: white;
  font-family: "Footlight MT Light";
  text-align: right;
  padding: 1.5em;
  border-radius: 1em;
  width: 70%;
  margin: 1em;
}
