header{
  font-family: 'Bungee', cursive;
  font-size: 2em;
  padding: 0.7em 2em;
  color: white;
  background-color: rgb(57, 30, 59);
  margin: 0.5em;
}

main{
  background-image: url("rome.jpg");
  margin: 2em 3em;
  border-radius: 0.5em;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, p.nowyou, p.outro{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: rgb(64, 21, 68);
  margin: 1em;
  border-radius: 0.8em;
  padding: 0.5em;
}

p.intro{
  background-color: rgb(64, 21, 68, 0.9);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: right;
  padding: 1.5em;
  border-radius: 1em;
  width: 90%;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  float: inherit;
}

p.nowyou{
  text-align: center;
}

button{
  display: inline-block;
  background-color: rgb(57, 30, 59, 1);
  color: white;
  padding: 1.7em;
  margin-bottom: 2em;
  font-family: "Kanit"
}

div.buttons{
  text-align: center;
  width: 100%;
}

aside{
  background-color: rgb(64, 21, 68, 0.7);
  color: white;
  font-family: 'Text Me One', sans-serif;
  text-align: left;
  padding: 1.5em;
  border-radius: 1em;
  width: 30%;
  height: auto;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

div.message{
  background-color: rgb(64, 21, 68, 0.9);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  padding: 1.5em;
  border-radius: 1em;
  width: 30%;
  height: auto;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

p.secretmsg{
  background-color: rgb(64, 21, 68, 0.9);
  color: white;
  font-family: 'Indie Flower', sans-serif;
  text-align: right;
  padding: 1.5em;
  border-radius: 1em;
  width: 90%;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  float: inherit;
}
